{% extends 'lct4/base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-left text-bg-light">Главная cтраница</h1>
        </div>
    </div>
    <div class="row">
        <div class="dropdown col-md-2">
            <form>
                <div class="form-group">
                    <input id="search-regions" class="form-control" type="text" value="" placeholder="Search" autofocus>
                </div>
            </form>
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                Regions
            </button>
            <ul class="dropdown-menu" id="regions">
            </ul>
        </div>
        <div class="dropdown col-md-2">
            <form>
                <div class="form-group">
                    <input id="search-products" class="form-control" type="text" value="" placeholder="Search"
                           autofocus>
                </div>
            </form>
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                Products
            </button>
            <ul class="dropdown-menu" id="codes">
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="dropdown col-md-2" id="div-add">

        </div>
    </div>
    <div class="row">
        <div id="products" data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%"
             data-bs-smooth-scroll="true" class="scrollspy-example col-md-10 bg-light p-3 rounded-2" tabindex="0">
        </div>
    </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="{% static 'lct4/js/find.js' %}"></script>
<script type="text/javascript" src="{% static 'lct4/js/script.js' %}"></script>
{% endblock %}